body {
    background-color: #18453B;
    font-family: 'Titillium Web', sans-serif;
}

a {
  text-decoration: none;
  color: rgb(185, 134, 87);
  transition: .3s;
}

a:hover{
  color: rgb(138, 74, 14);
}

h1, h2, h3  {
  margin: 0;
  padding: 10px 10px 10px 0px;
}

h1{
  font-size: 50px;
  color: rgb(240, 240, 240);  
}

h2{
  font-size: 40px;
}
#container {
    background-color: rgb(241, 241, 241);
    width: 1000px;
    margin-left: auto;
    margin-right:auto;
}


#header {
    background-color: #F08521;
    color: white;
    text-align: center;
    padding: 10px;
}

#content {
  padding: 10px;
}

#nav {
  width: 150px;
  float: left;
  padding: 0px 20px 20px 20px;
}

#nav ul {
  list-style-type: none;
  padding: 0;
}

#nav .selected {
  font-weight: bold;
}

#main {
  width: 750px;
  float: right;
}

#student-group {
  clear: both;
  margin: 20px;
  border: 20px;
  padding: 10px;
  background-color:  #d3d3d3;
  color: black;
  text-align: left;
}

#footer {
  clear: both;
  padding: 10px;
  background-color: #c1c5c5;
  color: white;
  text-align: right;
}
.schedule-date {
  font-weight: bold;
  color: black;
  text-align: right;
}
.schedule-resources {
  font-weight: lighter;
  color: black;
  text-align: left;
}
.table{
  display: grid;
  grid-template-columns: 15% 85%;
  margin-left: 10px;
  line-height: 2;
}
ul{
  line-height: 2;
}